* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* change it later maybe === font */
  font-size: 16px;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}

.btn-register {
  background-color: #537fe7;
}

.btn-readmore {
  background-color: #e96479;
  display: inline-block;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #fff;
  border: 2px solid #537fe7;
}

.btn-readmore:hover {
  background-color: transparent;
  border: 2px solid #e96479;
}

.btn-register:hover a {
  color: #537fe7;
}

.btn-readmore:hover a {
  color: #e96479;
}

.btn a {
  color: white;
}

li {
  list-style: none;
}

.margin-right {
  margin-right: 1.5rem;
}

.logo {
  height: 3rem;
  /* float: left; */
}

.header {
  height: 5rem;
}

.header_container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  height: 100%;
  /* align-items: center; */
}

.header_ul {
  display: flex;
  /* align-items: center  ; */
  gap: 1rem;
  justify-content: center;
}

/* .btn-register {
  transform: translateY(0.75rem);
} */

.header_li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_li--dropdown {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 0.5rem;
  opacity: 0;
  transform: translateY(-2rem);
  visibility: hidden;
  box-shadow: 0px 15px 26px 6px rgba(0, 0, 0, 0.2);
  z-index: 99;
  border-radius: 10px;
  padding: 0.75rem;
  background-color: white;
}

.header_li--dropdown a {
  color: black;
  padding: 0.5rem;
}

.header_li--dropdown a:not(:last-child) {
  border-bottom: 2px solid #eeeeee;
}

.header_li--dropdown a:hover {
  background-color: #efefef;
}

.header_li button {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #fff;
  font-size: 1rem;
  border: none;
}

.header_li button:hover {
  background-color: #efefef;
}

.header_li button:focus + .header_li--dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(1rem);
}

.hero {
  background-image: linear-gradient(to right bottom, #2b3467b6, #2b3467ba),
    url(./data/hero.jpg);

  height: 85vh;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.hero_header {
  padding: 3rem;
  transform: translateY(-1rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* float: left; */
}

.hero_header h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.hero_images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_images-container img {
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  width: 40%;
}

.i1 {
  transform: translateY(4rem) translateX(4rem);
}

.i3 {
  transform: translateX(17rem) translateY(-2rem);
}
