* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif; /* change it later maybe === font */
  font-size: 16px;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}

.btn-register {
  background-color: #537fe7;
}

.btn-readmore {
  background-color: #e96479;
  display: inline-block;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  display: inline-block;
  border: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #fff;
  border: 2px solid #537fe7;
}

.btn-readmore:hover {
  background-color: transparent;
  border: 2px solid #e96479;
  transform: translateY(-0.3rem);
}

.btn-register:hover a {
  color: #537fe7;
}

.btn-readmore:hover a {
  color: #e96479;
}

.btn a {
  color: white;
}

li {
  list-style: none;
}

.margin-right {
  margin-right: 1.5rem;
}

.logo {
  height: 4rem;
  /* transform: translateY(-0.5rem); */
}

.whole-logo {
  display: flex;
  align-items: center;
}

.capital {
  color: #bc1f40;
}

.whole-logo p {
  letter-spacing: 0.3px;
  margin-left: 0.2rem;
  font-weight: 500;
  font-size: 0.8rem;
}

.header {
  height: 5rem;
}

.header_container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.header_ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header_li {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.bx {
  margin-right: 0.2rem;
  font-size: 1.2rem;
}

.header_li--dropdown {
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 0.5rem;
  opacity: 0;
  transform: translateY(-2rem);
  visibility: hidden;
  box-shadow: 0px 15px 26px 6px rgba(0, 0, 0, 0.2);
  z-index: 99;
  border-radius: 10px;
  padding: 0.75rem;
  background-color: white;
}

.header_li--dropdown a {
  color: black;
  padding: 0.5rem;
}

.header_li--dropdown a:not(:last-child) {
  border-bottom: 2px solid #eeeeee;
}

.header_li--dropdown a:hover {
  background-color: #efefef;
}

.header_li button {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #fff;
  font-size: 1rem;
  border: none;
}

.header_li button:hover {
  background-color: #efefef;
}

.header_li button:focus + .header_li--dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(1rem);
}

.hero {
  background-image: linear-gradient(to right bottom, #2b3467b6, #2b3467ba),
    url(./data/hero.jpg);
  background-attachment: fixed;
  height: 85vh;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
}

.hero_header {
  padding: 3rem;
  /* transform: translateY(-1rem); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero_header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #fff;
}

.hero_header p {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero_images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_images-container img {
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  position: absolute;
  transition: all 0.4s;
  border-radius: 10px;
  width: 28%;
  z-index: 0;
}

.i1 {
  right: 10%;
  top: 4rem;
}

.i2 {
  right: 25%;
  top: 10rem;
}

.i3 {
  right: 5%;
  top: 15rem;
}

.hero_images-container img:hover {
  transform: scale(1.1) translateY(-2rem);
  outline: 8px solid #537fe7;
  outline-offset: 0.5rem;
  z-index: 10;
}

.hero_images-container:hover img:not(:hover) {
  transform: scale(0.95);
}

.rest {
  padding: 0 4rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rest h1 {
  background-image: linear-gradient(to right, #5bc0f8, #3e54ac);
  -webkit-background-clip: text;
  color: transparent;
}

.head {
  font-size: 2.5rem;
  height: 100%;
  transition: all 0.3s;
  margin-bottom: 1rem;
  display: inline-block;
}

.rest p {
  width: 70%;
  margin: 0 auto;
  color: #4b4b4b;
}

.intrested {
  margin: 2rem;
  height: 23rem;
  position: relative;
  background-image: linear-gradient(to right bottom, #5bc0f8, #3e54ac);
}

.wrapper {
  position: relative;
  height: 100%;
}

.wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(to right bottom, #5bc1f898, #3e54ac96);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intrested-h1 {
  z-index: 1;
  font-size: 3.5rem;
  color: white;
  /* text-align: center; */
}

.intrested-img {
  width: 55%;
}

.v-content {
  transform: translateY(-18rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.g1 {
  padding: 0 4rem;
  margin-top: -2rem;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 1rem;
}

.g2 {
  text-align: center;
  margin: 0 auto;
}

.swiper {
  width: 80%;
  height: fit-content;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.swiper-pagination {
  bottom: 2rem;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: #333;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.375rem;
}
