@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");

.about-dev {
  background-image: linear-gradient(to bottom right, #3e54acce, #5bc1f8ba),
    url(./iewek-gnos-hhUx08PuYpc-unsplash.jpg);
  height: 33rem;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
  outline: 7px solid #537fe7;
  outline-offset: 0.3rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.r1 {
  padding: 2rem;
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.r1 h1 {
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  color: white !important;
  font-family: "Climate Crisis", cursive;
}

.r1 img {
  width: 30%;
}

.r2 {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem 0;
}

.white-back {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r2 p {
  font-size: 0.9rem;
  width: 80%;
}

@media screen and (max-width: 37.5em) {
  .about-dev {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .r1 h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .r2 {
    padding: 1rem 0;
  }

  .white-back {
    width: 85%;
  }
  .r2 p {
    font-size: 1rem;
  }
}
